-# coding: utf-8
!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %title filetransfer
    :css
      div#bodyCenter {
      height: 100em;
      margin-top: 10em;
      padding-left: 10em;
      }
      input {height:30px;font-size:1.3em;}
      input.url { width: 640px;height:26px;}
  %body
    #bodyCenter
      %form{:method => "post", :action => "/trans", :name => "trans"}
        %input{:type=>"text", :name=>"file_url", :class=>'url'}
        %input{:value=>"下载",:name=>"submit",:type=>"submit"}
